@import "base";
@import "header";
@import "content";
@import "sider";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: get($layout-config, default, bg-color);
  color: get($layout-config, default, font-color);

  &.layout-has-sider {
    flex-direction: row;
  }
}
