@use "sass:math";

.dropdown {
  position: absolute;
  z-index: $zindex-dropdown;
  //  min-width: $dropdown-min-width;
  display: flex;
  //flex-direction: column;
  padding: 0;
  margin: 0;

  @if ($dropdown-animation == true) {
    animation: dropdown-animation-fade-in $dropdown-animation-speed ease 1,
      dropdown-animation-move-up $dropdown-animation-speed ease 1;

    &.dropdown-placement-topCenter,
    &.dropdown-placement-topLeft,
    &.dropdown-placement-topRight {
      animation: dropdown-animation-fade-in $dropdown-animation-speed ease 1,
        dropdown-animation-move-down $dropdown-animation-speed ease 1;
    }
  }
  &.dropdown-hidden {
    display: none;
  }

  &.dropdown-show-arrow {
    //Added padding for bottom & top arrow
    &.dropdown-placement-topCenter,
    &.dropdown-placement-topLeft,
    &.dropdown-placement-topRight {
      padding-bottom: $dropdown-distance;
    }

    &.dropdown-placement-bottomCenter,
    &.dropdown-placement-bottomLeft,
    &.dropdown-placement-bottomRight {
      padding-top: $dropdown-distance;
    }

    .dropdown-arrow {
      position: absolute;
      display: block;
      z-index: 1;
      width: math.sqrt(
          strip-unit($dropdown-arrow-width) * strip-unit($dropdown-arrow-width) *
            2
        ) * 1px;
      height: math.sqrt(
          strip-unit($dropdown-arrow-width) * strip-unit($dropdown-arrow-width) *
            2
        ) * 1px;
      background: transparent;
      border-style: solid;
      transform: rotate(45deg);
      border-width: (
          math.sqrt(
              strip-unit($dropdown-arrow-width) *
                strip-unit($dropdown-arrow-width) * 2
            ) / 2
        ) * 1px;
    }

    //Arrow top placement
    &.dropdown-placement-topCenter > .dropdown-arrow,
    &.dropdown-placement-topLeft > .dropdown-arrow,
    &.dropdown-placement-topRight > .dropdown-arrow {
      bottom: $dropdown-distance - $dropdown-arrow-width + 2.12px;
      border-top-color: transparent;
      border-right-color: $dropdown-bg;
      border-bottom-color: $dropdown-bg;
      border-left-color: transparent;
      box-shadow: $dropdown-box-shadow;
    }

    &.dropdown-placement-topCenter > .dropdown-arrow {
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    &.dropdown-placement-topLeft > .dropdown-arrow {
      left: 16px;
    }

    &.dropdown-placement-topRight > .dropdown-arrow {
      right: 16px;
    }

    //Arrow bottom placement
    &.dropdown-placement-bottomCenter > .dropdown-arrow,
    &.dropdown-placement-bottomLeft > .dropdown-arrow,
    &.dropdown-placement-bottomRight > .dropdown-arrow {
      top: $dropdown-distance - $dropdown-arrow-width + 2px;
      border-top-color: $popover-bg;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $popover-bg;
      box-shadow: $dropdown-box-shadow;
    }

    &.dropdown-placement-bottomCenter > .dropdown-arrow {
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    &.dropdown-placement-bottomLeft > .dropdown-arrow {
      left: 16px;
    }

    &.dropdown-placement-bottomRight > .dropdown-arrow {
      right: 16px;
    }
  }
}

.dropdown-menu {
  position: relative;
  @include font-size($dropdown-font-size);
  color: $dropdown-color;
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($dropdown-box-shadow);
  padding: $dropdown-padding-y $dropdown-padding-x;
  margin: 0;

  //menu item & submenu as
  .dropdown-menu-item,
  .dropdown-menu-submenu {
    display: flex;
    width: 100%; // For `<button>`s
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    clear: both;
    font-weight: $font-weight-normal;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    text-decoration: if($link-decoration == none, null, none);
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s
    cursor: pointer;
    // Prevent dropdown overflow if there's no padding
    // See https://github.com/twbs/bootstrap/pull/27703
    @if $dropdown-padding-y == 0 {
      &:first-child {
        @include border-top-radius($dropdown-inner-border-radius);
      }

      &:last-child {
        @include border-bottom-radius($dropdown-inner-border-radius);
      }
    }

    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      text-decoration: if($link-hover-decoration == underline, none, null);
      @include gradient-bg($dropdown-link-hover-bg);
    }

    &.active,
    &:active {
      color: $dropdown-link-active-color;
      text-decoration: none;
      @include gradient-bg($dropdown-link-active-bg);
    }

    &.disabled,
    &:disabled {
      color: $dropdown-link-disabled-color;
      pointer-events: none;
      background-color: transparent;
      background-image: if($enable-gradients, none, null);
    }
  }
}
// Menu animations
@keyframes dropdown-animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown-animation-move-up {
  from {
    margin-top: $dropdown-animation-move-offset;
  }
  to {
    margin-top: 0;
  }
}

@keyframes dropdown-animation-move-down {
  from {
    margin-bottom: $dropdown-animation-move-offset;
  }
  to {
    margin-bottom: 0;
  }
}

//Dropdown Submenu
.dropdown-menu-submenu-popup {
  &.dropdown-menu-submenu {
    position: absolute;
    z-index: $zindex-dropdown;
    min-width: $dropdown-min-width;
    display: flex;
    flex-direction: column;
    padding: 0;

    @if ($dropdown-animation == true) {
      animation: dropdown-animation-fade-in $dropdown-animation-speed ease 1,
        dropdown-animation-move-up $dropdown-animation-speed ease 1;

      &.dropdown-placement-topCenter,
      &.dropdown-placement-topLeft,
      &.dropdown-placement-topRight {
        animation: dropdown-animation-fade-in $dropdown-animation-speed ease 1,
          dropdown-animation-move-down $dropdown-animation-speed ease 1;
      }
    }

    &.dropdown-menu-hidden {
      display: none;
    }
  }
}
/*
.dropdown {
  position: relative;
}
// The dropdown menu
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y $dropdown-padding-x;
  margin: 0; // Override default margin of ul
  @include font-size($dropdown-font-size);
  color: $dropdown-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($dropdown-box-shadow);
}
*/
