.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  &#{&}-vertical,
  &#{&}-inline {
    flex-direction: column;
  }
  &#{&}-horizontal {
    flex-direction: row;
  }

  .menu-item,
  .menu-submenu-title {
    display: flex;
    align-items: center;
    padding: $menu-item-padding-y $menu-item-padding-x;
    transition: none;
    outline: none;
  }

  .menu-item-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .menu-item-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $menu-icon-width;
    margin-right: $menu-icon-space #{"/*rtl:ignore*/"};
    [direction="rtl"] & {
      margin-left: $menu-icon-space #{"/*rtl:ignore*/"};
    }
  }

  .menu-submenu-arrow {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: $menu-arrow-margin;
    width: $menu-arrow-width;
    height: $menu-arrow-height;

    &:after {
      display: block;
      width: 100%;
      content: " ";
      @include svg-bg-icon(arrow-bottom, $text-muted);
    }
  }
}

// Center alignment
.menu-center {
  justify-content: center;
}

.menu-submenu {
  display: flex;
  flex-direction: column;
  padding: 0;

  & + .menu {
    min-width: $submenu-min-width;
  }
  &.menu-submenu-popup {
    position: absolute;
    z-index: $submenu-z-index;
  }
}
.menu-sub,
.menu-submenu {
  &.menu-hidden {
    display: none;
  }
}
