//Theme name
$theme: default;
// SVG Icon Sizes
$svg-icon-sizes: (
  sm: 1.25rem,
  md: 1.5rem,
  lg: 1.75rem,
  xl: 2rem,
  xxl: 2.25rem,
  1x: 1rem,
  2x: 2rem,
  3x: 3rem,
  4x: 4rem,
  5x: 5rem,
  6x: 6rem,
  7x: 7rem,
  8x: 8rem,
  9x: 9rem,
  10x: 10rem,
  full: 100%,
);

$body-bg: $white !default;
$body-color: $gray-900 !default;

$component-bg: $body-bg;
$component-color: $body-color;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-base: 1.5 !default;
$line-height-lg: 1.5 !default;
$line-height-sm: 1.35 !default;

// Box shadow
$box-shadow-xs: 0 0.25rem 0.5rem 0 rgba($black, 0.05);
$box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba($black, 0.05) !default;
$box-shadow: 0 0.5rem 1.5rem 0.5rem rgba($black, 0.075) !default;
$box-shadow-lg: 0 1rem 2rem 1rem rgba($black, 0.1) !default;

// Border Radius
$border-radius-sm: 0.28rem !default;
$border-radius: 0.42rem !default;
$border-radius-lg: 0.85rem !default;
$border-radius-xl: 1.25rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font family
$font-family-base: Poppins, Helvetica, "sans-serif" !default;
$font-size-root: 13px;
$font-size-base: 1rem !default; // Assumes the browser default, typically `13px`
$font-size-lg: $font-size-base * 1.08 !default; // 14.04px
$font-size-sm: $font-size-base * 0.925 !default; // 12.025px

// Font Weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-bolder: 600 !default;
$font-weight-boldest: 700 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: 0.65rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-padding-y-sm: 0.55rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-line-height-sm: $line-height-sm !default;

$input-btn-padding-y-lg: 0.825rem !default;
$input-btn-padding-x-lg: 1.42rem !default;
$input-btn-line-height-lg: $line-height-lg !default;

//Dropdown
$dropdown-min-width: 12rem;
$dropdown-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !default;
$zindex-dropdown: 98 !default;
$dropdown-border-radius: $border-radius !default;
$dropdown-item-padding-y: 0.75rem !default;
$dropdown-item-padding-x: 1.25rem !default;
$dropdown-divider-bg: $gray-200 !default;

// Card
$card-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05) !default; // card custom shadow
$card-border-color: $gray-200 !default;
$card-cap-bg: $white !default;
$card-spacer-y: 2rem !default;
$card-spacer-x: 2.25rem !default;
$card-border-radius: $border-radius !default;
$card-header-height: 4.375rem !default; // Custom variable
$card-title-font-size: 1.275rem;

//Menu
/*$menu-bg: #1e1e2d;
$menu-color: #a2a3b7;*/
$menu-font-size: $font-size-base;

$menu-item-padding: 9px 25px;
$menu-item-active-bg: #1b1b28;
$menu-item-active-color: $white;

$menu-item-selected-bg: $primary;
$menu-item-selected-color: $primary-inverse;

$menu-icon-color: #494b74;
$menu-icon-active-color: $primary;
$menu-icon-selected-color: $primary-inverse;
$menu-icon-font-size: 1.1rem;

/*$menu-inline-toplevel-item-height: 40px;
$menu-item-height: 40px;
$menu-item-group-height: $line-height-base;
$menu-collapsed-width: 80px;

$menu-popup-bg: $primary;
$menu-item-color: $primary-inverse;
$menu-inline-submenu-bg: $primary;
$menu-highlight-color: $primary-inverse;
$menu-highlight-danger-color: $danger;
$menu-item-active-bg: $primary-hover;
$menu-item-active-color: $primary-inverse;
$menu-item-active-danger-bg: $danger-hover;
$menu-item-active-border-width: 3px;
$menu-item-group-title-color: $secondary;
$menu-item-vertical-margin: 4px;
$menu-item-font-size: $font-size-base;
$menu-item-boundary-margin: 8px;
$menu-item-padding: 9px 25px;
$menu-horizontal-line-height: 46px;
$menu-icon-margin-right: 10px;
$menu-icon-size: $menu-item-font-size;
$menu-icon-size-lg: $font-size-lg;
$menu-item-group-title-font-size: $menu-item-font-size;*/

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true !default;

//animations
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
