@import "../../color";
//Theme name
$theme:default;
// SVG Icon Sizes
$svg-icon-sizes: (
        sm: 1.25rem,
        md: 1.5rem,
        lg: 1.75rem,
        xl: 2rem,
        xxl: 2.25rem,
        1x: 1rem,
        2x: 2rem,
        3x: 3rem,
        4x: 4rem,
        5x: 5rem,
        6x: 6rem,
        7x: 7rem,
        8x: 8rem,
        9x: 9rem,
        10x: 10rem,
        full: 100%,
);

// Components
//
// Define common padding and border radius sizes and more.

$line-height-base: 1.5 !default;
$line-height-lg: 1.5 !default;
$line-height-sm: 1.35 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font family
$font-family-base: Poppins, Helvetica, "sans-serif" !default;
$font-size-root:13px;
$font-size-base: 1rem !default; // Assumes the browser default, typically `13px`
$font-size-lg: $font-size-base * 1.08 !default; // 14.04px
$font-size-sm: $font-size-base * 0.925 !default; // 12.025px


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: 0.65rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-padding-y-sm: 0.55rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-line-height-sm: $line-height-sm !default;

$input-btn-padding-y-lg: 0.825rem !default;
$input-btn-padding-x-lg: 1.42rem !default;
$input-btn-line-height-lg: $line-height-lg !default;
