// Black color
$black: #000000 !default;

// White color
$white: #ffffff !default;

// Gray colors
$gray-100: #f3f6f9 !default;
$gray-200: #ebedf3 !default;
$gray-300: #e4e6ef !default;
$gray-400: #d1d3e0 !default;
$gray-500: #b5b5c3 !default;
$gray-600: #7e8299 !default;
$gray-700: #5e6278 !default;
$gray-800: #3f4254 !default;
$gray-900: #181c32 !default;

// Dark colors
$dark: $gray-900 !default;
$dark-75: $gray-800 !default; // Custom variable
$dark-65: $gray-700 !default; // Custom variable
$dark-50: $gray-600 !default; // Custom variable
$dark-25: $gray-400 !default; // Custom variable

// Text muted
$text-muted: $gray-500 !default; // Custom variable

// Bootstrap standard & extended colors
// Dark colors
//$dark: $dark !default; // Bootstrap variable
$dark-hover: darken($dark, 3%) !default; // Custom variable
$dark-light: $gray-400 !default; // Custom variable
$dark-inverse: $white !default; // Custom variable

// Primary colors
$primary: #3699ff !default; // Bootstrap variable
$primary-hover: #187de4 !default; // Custom variable
$primary-light: #e1f0ff !default; // Custom variable
$primary-inverse: $white !default; // Custom variable

// Secondary colors
$secondary: $gray-300 !default; // Bootstrap variable
$secondary-hover: darken($gray-300, 4%) !default; // Custom variable
$secondary-light: $gray-200 !default; // Custom variable
$secondary-inverse: $dark-75 !default; // Custom variable

// Success colors
$success: #1bc5bd !default; // Bootstrap variable
$success-hover: #0bb7af !default; // Custom variable
$success-light: #c9f7f5 !default; // Custom variable
$success-inverse: $white !default; // Custom variable

// Inco colors
$info: #8950fc !default; // Bootstrap variable
$info-hover: #7337ee !default; // Custom variable
$info-light: #eee5ff !default; // Custom variable
$info-inverse: $white !default; // Custom variable

// Warning colors
$warning: #ffa800 !default; // Bootstrap variable
$warning-hover: #ee9d01 !default; // Custom variable
$warning-light: #fff4de !default; // Custom variable
$warning-inverse: $white !default; // Custom variable

// Danger colors
$danger: #f64e60 !default; // Bootstrap variable
$danger-hover: #ee2d41 !default; // Custom variable
$danger-light: #ffe2e5 !default; // Custom variable
$danger-inverse: $white !default; // Custom variable

// Light colors
$light: $gray-100 !default; // Bootstrap variable
$light-hover: $gray-300 !default; // Custom variable
$light-light: $gray-100 !default; // Custom variable
$light-inverse: $gray-600 !default; // Custom variable

// White colors
$white: $white !default; // Bootstrap variable
$white-hover: $gray-100 !default; // Custom variable
$white-light: $white !default; // Custom variable
$white-inverse: $dark-75 !default; // Custom variable

// Bootstrap theme colors
$theme-colors: (
  "white": $white,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;

// Extended hover colors for Bootstrap theme colors
$theme-hover-colors: (
  "white": $white-hover,
  "primary": $primary-hover,
  "secondary": $secondary-hover,
  "success": $success-hover,
  "info": $info-hover,
  "warning": $warning-hover,
  "danger": $danger-hover,
  "light": $light-hover,
  "dark": $dark-hover,
) !default; // Custom variable

// Extended inverse colors for Bootstrap theme colors
$theme-inverse-colors: (
  "white": $white-inverse,
  "primary": $primary-inverse,
  "secondary": $secondary-inverse,
  "success": $success-inverse,
  "info": $info-inverse,
  "warning": $warning-inverse,
  "danger": $danger-inverse,
  "light": $light-inverse,
  "dark": $dark-inverse,
) !default; // Custom variable

// Extended outline colors for Bootstrap theme colors
$theme-outline-inverse-colors: (
  "white": $white,
  "primary": $primary,
  "secondary": $dark-75,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $dark-75,
  "dark": $dark,
) !default; // Custom variable

// Extended light colors for Bootstrap theme colors
$theme-light-colors: (
  "white": $white-light,
  "primary": $primary-light,
  "secondary": $secondary-light,
  "success": $success-light,
  "info": $info-light,
  "warning": $warning-light,
  "danger": $danger-light,
  "light": $light-light,
  "dark": $dark-light,
) !default; // Custom variable

// Extended shadow colors for Bootstrap theme colors
$theme-shadow-colors: (
  "white": $dark,
  "primary": $primary,
  "secondary": $dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $dark,
  "dark": $dark,
) !default; // Custom variable

// Extended theme text colors
$theme-text-colors: (
  "white": $white,
  "primary": $primary,
  "secondary": $dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": light,
  "dark": $dark,
  "dark-75": $dark-75,
  "dark-65": $dark-65,
  "dark-50": $dark-50,
  "dark-25": $dark-25,
  "muted": $text-muted,
) !default; // Custom variable

// SVG Icon Sizes
$svg-icon-sizes: (
  sm: 1.25rem,
  md: 1.5rem,
  lg: 1.75rem,
  xl: 2rem,
  xxl: 2.25rem,
  1x: 1rem,
  2x: 2rem,
  3x: 3rem,
  4x: 4rem,
  5x: 5rem,
  6x: 6rem,
  7x: 7rem,
  8x: 8rem,
  9x: 9rem,
  10x: 10rem,
  full: 100%,
);

// Components
//
// Define common padding and border radius sizes and more.

$line-height-base: 1.5 !default;

$line-height-lg: 1.5 !default;
$line-height-sm: 1.35 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font family
$font-family-base: Poppins, Helvetica, "sans-serif" !default;
$font-size-root:13px;
$font-size-base: 1rem !default; // Assumes the browser default, typically `13px`
$font-size-lg: $font-size-base * 1.08 !default; // 14.04px
$font-size-sm: $font-size-base * 0.925 !default; // 12.025px


// Transition
$transition: all 0.15s ease !default; // Custom variable
$transition-link: color 0.15s ease, background-color 0.15s ease,
  border-color 0.15s ease, box-shadow 0.15s ease !default; // Custom variable
$transition-input: color 0.15s ease, background-color 0.15s ease,
  border-color 0.15s ease, box-shadow 0.15s ease !default; // Custom variable

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: 0.65rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-padding-y-sm: 0.55rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-line-height-sm: $line-height-sm !default;

$input-btn-padding-y-lg: 0.825rem !default;
$input-btn-padding-x-lg: 1.42rem !default;
$input-btn-line-height-lg: $line-height-lg !default;
