// Black color
$black: #000000 !default;

// White color
$white: #ffffff !default;

// Gray colors
$gray-100: #f5f8fa !default;
$gray-200: #eff2f5 !default;
$gray-300: #e4e6ef !default;
$gray-400: #b5b5c3 !default;
$gray-500: #a1a5b7 !default;
$gray-600: #7e8299 !default;
$gray-700: #5e6278 !default;
$gray-800: #3f4254 !default;
$gray-900: #181c32 !default;

// Dark colors
/*$dark: $gray-900 !default;
$dark-75: $gray-800 !default;
$dark-65: $gray-700 !default;
$dark-50: $gray-600 !default;
$dark-25: $gray-400 !default;*/

// Text muted
$text-muted: $gray-500 !default;

// Bootstrap standard & extended colors
// Dark colors
$dark: $gray-900 !default;
$dark-active: darken($dark, 3%) !default;
$dark-light: $gray-200 !default;
$dark-inverse: $white !default;

// Primary colors
$primary: #3699ff !default;
$primary-active: #187de4 !default;
$primary-light: #f1faff !default;
$primary-inverse: $white !default;

// Secondary colors
$secondary: $gray-300 !default;
$secondary-active: $gray-400 !default;
$secondary-light: $gray-100 !default;
$secondary-inverse: $gray-800 !default;

// Success colors
$success: #1bc5bd !default;
$success-active: #0bb7af !default;
$success-light: #c9f7f5 !default;
$success-inverse: $white !default;

// Inco colors
$info: #8950fc !default;
$info-active: #7337ee !default;
$info-light: #eee5ff !default;
$info-inverse: $white !default;

// Warning colors
$warning: #ffa800 !default;
$warning-active: #ee9d01 !default;
$warning-light: #fff4de !default;
$warning-inverse: $white !default;

// Danger colors
$danger: #f64e60 !default;
$danger-active: #ee2d41 !default;
$danger-light: #ffe2e5 !default;
$danger-inverse: $white !default;

// Light colors
$light: $gray-100 !default;
$light-active: $gray-300 !default;
$lighten: rgba($light, 0.5);
$light-inverse: $gray-600 !default;

// White colors
$white: $white !default;
$white-active: $gray-100 !default;
$white-inverse: $gray-600 !default;

// Bootstrap theme colors
$theme-colors: (
  "white": $white,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;

// Extended active colors for Bootstrap theme colors
$theme-active-colors: (
  "white": $white-active,
  "primary": $primary-active,
  "secondary": $secondary-active,
  "success": $success-active,
  "info": $info-active,
  "warning": $warning-active,
  "danger": $danger-active,
  "light": $light-active,
  "dark": $dark-active,
) !default;

// Extended inverse colors for Bootstrap theme colors
$theme-inverse-colors: (
  "white": $white-inverse,
  "primary": $primary-inverse,
  "secondary": $secondary-inverse,
  "success": $success-inverse,
  "info": $info-inverse,
  "warning": $warning-inverse,
  "danger": $danger-inverse,
  "light": $light-inverse,
  "dark": $dark-inverse,
) !default;

// Extended light colors for Bootstrap theme colors
$theme-light-colors: (
  "primary": $primary-light,
  "secondary": $secondary-light,
  "success": $success-light,
  "info": $info-light,
  "warning": $warning-light,
  "danger": $danger-light,
  "dark": $dark-light,
) !default;

// Text colors
$theme-text-colors: (
  "white": $white,
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "muted": $text-muted,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
) !default;
