.no-arrow:after {
  content: none;
}
.dropdown-menu {
  opacity: 0;
  transform-origin: top right;
  animation-fill-mode: forwards;
  //transform: scale(95);
  /*  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;*/
  display: block;
  transition: all 200ms ease-out;
}
.dropdown-menu.show {
  opacity: 1;
  //transform: scale(100);
  /* --tw-scale-x: 1;
  --tw-scale-y: 1;*/
  transition: all 200ms ease-in;
}
