.btn {
  outline: none !important;
  vertical-align: middle;

  &:focus:not(.btn-shadow):not(.btn-shadow-hover) {
    box-shadow: none !important;
  }

  // Button styles
  &.btn-square {
    border-radius: 0;
  }

  &.btn-pill {
    border-radius: 2rem;
  }

  &.btn-text {
    cursor: text;
  }

  &:not(.btn-text) {
    cursor: pointer;
  }

  &.btn-borderless {
    border-color: transparent;
  }
}
// Icons
.btn {
  // Icons
  i {
    font-size: 1.3rem;
    padding-right: 0.35rem;
    vertical-align: middle;
    line-height: 1;
    display: inline-flex;

    &:after,
    &:before {
      //line-height: 0;
    }
  }

  // Svg icons
  .svg-icon {
    margin-right: 0.5rem;
    @include svg-icon-size(18px);
  }

  &.btn-sm {
    i {
      font-size: 1.3rem;
      padding-right: 0.35rem;
    }

    .svg-icon {
      margin-right: 0.35rem;
      @include svg-icon-size(16px);
    }
  }

  &.btn-lg {
    i {
      font-size: 1.5rem;
      padding-right: 0.75rem;
    }

    .svg-icon {
      margin-right: 0.75rem;
      @include svg-icon-size(20px);
    }
  }

  // Fixed icon button
  &.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: $input-height;
    width: $input-height;

    &.btn-sm {
      height: $input-height-sm;
      width: $input-height-sm;
    }

    &.btn-lg {
      height: $input-height-lg;
      width: $input-height-lg;
    }

    &.btn-circle {
      border-radius: 50%;
    }

    i {
      padding: 0;
      margin: 0;
    }
    .svg-icon{
      padding: 0;
      margin: 0;
    }
  }
}
// Clean button
.btn.btn-clean {
  $btn-background: transparent;
  $btn-border: transparent;
  $btn-color: $gray-500;
  $btn-icon: $gray-500;
  $btn-box-shadow: null;

  $btn-hover-background: $gray-100;
  $btn-hover-border: transparent;
  $btn-hover-color: $primary;
  $btn-hover-icon: $primary;
  $btn-hover-box-shadow: null;

  $btn-active-background: $btn-hover-background;
  $btn-active-border: $btn-hover-border;
  $btn-active-color: $btn-hover-color;
  $btn-active-icon: $btn-hover-icon;
  $btn-active-box-shadow: $btn-hover-box-shadow;

  @include button-custom-variant(
                  $btn-background, $btn-border, $btn-color, $btn-icon, $btn-box-shadow,
                  $btn-hover-background, $btn-hover-border, $btn-hover-color, $btn-hover-icon, $btn-hover-box-shadow,
                  $btn-active-background, $btn-active-border, $btn-active-color, $btn-active-icon, $btn-active-box-shadow
  );
}

//
// Alternate buttons
//
@each $name, $value in $theme-colors {

  // Default Style
  .btn.btn-#{$name} {
    $btn-background: $value;
    $btn-border: $value;
    $btn-color: theme-inverse-color($name);
    $btn-icon: theme-inverse-color($name);
    $btn-box-shadow: null;

    $btn-hover-background: theme-hover-color($name);
    $btn-hover-border: theme-hover-color($name);
    $btn-hover-color: theme-inverse-color($name);
    $btn-hover-icon: theme-inverse-color($name);
    $btn-hover-box-shadow: null;

    $btn-active-background: $btn-hover-background;
    $btn-active-border: $btn-hover-border;
    $btn-active-color: $btn-hover-color;
    $btn-active-icon: $btn-hover-icon;
    $btn-active-box-shadow: $btn-hover-box-shadow;

    @include button-custom-variant(
                    $btn-background, $btn-border, $btn-color, $btn-icon, $btn-box-shadow,
                    $btn-hover-background, $btn-hover-border, $btn-hover-color, $btn-hover-icon, $btn-hover-box-shadow,
                    $btn-active-background, $btn-active-border, $btn-active-color, $btn-active-icon, $btn-active-box-shadow
    );
  }

  // Outline Style
  .btn.btn-outline-#{$name} {
    $btn-background: transparent;
    $btn-border: $value;
    $btn-color: theme-outline-inverse-color($name);
    $btn-icon: theme-outline-inverse-color($name);
    $btn-box-shadow: null;

    $btn-hover-background: $value;
    $btn-hover-border: $value;
    $btn-hover-color: theme-inverse-color($name);
    $btn-hover-icon: theme-inverse-color($name);
    $btn-hover-box-shadow: null;

    $btn-active-background: $btn-hover-background;
    $btn-active-border: $btn-hover-border;
    $btn-active-color: $btn-hover-color;
    $btn-active-icon: $btn-hover-icon;
    $btn-active-box-shadow: $btn-hover-box-shadow;

    @include button-custom-variant(
                    $btn-background, $btn-border, $btn-color, $btn-icon, $btn-box-shadow,
                    $btn-hover-background, $btn-hover-border, $btn-hover-color, $btn-hover-icon, $btn-hover-box-shadow,
                    $btn-active-background, $btn-active-border, $btn-active-color, $btn-active-icon, $btn-active-box-shadow
    );
  }

  // Light Style
  .btn.btn-light-#{$name} {
    $btn-background: theme-light-color($name);
    $btn-border: transparent;
    $btn-color: $value;
    $btn-icon: $value;
    $btn-box-shadow: null;

    $btn-hover-background: $value;
    $btn-hover-border: transparent;
    $btn-hover-color: theme-inverse-color($name);
    $btn-hover-icon: theme-inverse-color($name);
    $btn-hover-box-shadow: null;

    $btn-active-background: $btn-hover-background;
    $btn-active-border: $btn-hover-border;
    $btn-active-color: $btn-hover-color;
    $btn-active-icon: $btn-hover-icon;
    $btn-active-box-shadow: $btn-hover-box-shadow;

    @include button-custom-variant(
                    $btn-background, $btn-border, $btn-color, $btn-icon, $btn-box-shadow,
                    $btn-hover-background, $btn-hover-border, $btn-hover-color, $btn-hover-icon, $btn-hover-box-shadow,
                    $btn-active-background, $btn-active-border, $btn-active-color, $btn-active-icon, $btn-active-box-shadow
    );
  }
}
